@import '../../styles/variables';

:local {
  .item {
    list-style-type: none;
    margin-bottom: 2em;
  }

  .title {
    color: $color-red;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;
  }

  .description {
    font-size: 18px;
    margin: 10px 0;
  }
}
