@import '../../styles/variables';

:local {
  .wrapper {

    &:before {
      content: '';
      position: absolute;
      background: url('./img/trainer.png') no-repeat;
      height: 431px;
      width: 435px;
      right: 0;
      top: 6.5em;
    }
  }

  .title {
    font-size: 66px;
    text-transform: uppercase;
  }

  .about {
    font-size: 18px;
    font-weight: 300;
    width: 50%;
    margin: 1em 0 3em;
  }
}
